<Configuration>
    <Properties>
        <Property name="colours">FATAL=magenta, ERROR=red, WARN=yellow, INFO=white, DEBUG=blue</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout disableAnsi="false" pattern="[%highlight{%date{yyyy-MM-dd HH:mm:ss}}{${colours}}] [%highlight{%-5level}{${colours}}] {%highlight{%logger{2}}{${colours}}} | %msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="logs/kilowog.log" filePattern="logs/kilowog-%i.log">
            <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] {%logger{2}} | %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="25MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.github.junrar.Junrar" level="WARN"/>
        <Logger name="com.github.buriedincode" level="WARN">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>